html{
    font-size: 50px;
}
#mobile{
    flex: 1;
    background: #f6f6f6;
}
#mobile header{
    border-bottom: 1px solid #2db7f5;
    padding-left: 10px;
}
#mobile header img{
    height: 50px;
}
#mobile header span{
    font-size: 35px;
    vertical-align: top;
    padding-left: 10px;
    color: #2db7f5;
}
#mobile header i{
    font-size: 0.5rem;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    color: #2db7f5;
}
.item{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.list-img{
    margin-right: 10px;
    flex: 0 0 120px;
}
.list-img img{
    width:120px;
    height: auto;
}

.list-text{
    flex:1;
}
.list-text-title span{
    font-size: 0.35rem;
    color: #555;
}
.list-text-info span:first-child{
    font-size: 0.25rem;
    color: red;
    margin-right: 10px;
}
.list-text-info span:last-child{
    font-size: 0.25rem;
}